<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS only if not running on localhost
    RewriteCond %{HTTP_HOST} !^localhost(:[0-9]+)?$
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 2. Keep CakePHP Routing
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
